@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(assets/bg.png);
  background-size: 100% 111vh;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

nav {
    margin-right: 400px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 50px;
}

.logo img {
  width: 65%;
  padding: 10px;
  padding-right: 40px;
  border-right: 2px solid grey;
}

.button button {
  height: 60px;
  width: fit-content;
  margin: 10px 0px;
  padding: 10px 35px;
  background: #ba0cc5;
  border-radius: 6px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section h1 {
    max-width: 831px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
    padding-top: 121px;
}

.hero-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.hero-section button {
    background: #ba0cc5;
    border-radius: 11.2308px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 21.9487px;
    line-height: 31px;
    color: #ffffff;
    border: none;
    padding: 13px 16px;
    margin-top: 33px;
    cursor: pointer;
}
